riff:
  url: riff://localhost:8610

endpoint:
  api:
    method: hash #robin round hash hashRing
    servers: 
      - http://api
  console:
    method: hash
    servers:
      - http://console
      
server:
  - listen: "[::]:80"
    domain:
      - name: _
        return: "301 https://$host$request_uri"
  - listen: "[::]:443"
    ssl: true
    domain:
      - name: api.teatak.com
        certFile: "/Users/yanggang/workspace/cert/api.teatak.com.pem"
        keyFile: "/Users/yanggang/workspace/cert/api.teatak.com.key"
        location: 
          - path: /
            to: http://api
          - path: /api
            to: http://api
      - name: console.teatak.com
        certFile: "/Users/yanggang/workspace/cert/console.teatak.com.pem"
        keyFile: "/Users/yanggang/workspace/cert/console.teatak.com.key"
        location: 
          - path: /
            to: http://console
      - name: www.teatak.com
        certFile: "/Users/yanggang/workspace/cert/teatak.com.pem"
        keyFile: "/Users/yanggang/workspace/cert/teatak.com.key"
        location: 
          - path: /
            to: http://console
  