backend:
  - name: api
    mode: consistentHash #random 随机 roundRobin 轮训 hash 哈希 consistentHash 一致性哈希
    riff: api@riff://localhost:8630 #riff server
  - name: console
    mode: consistentHash
    riff: console@riff://localhost:8630
  - name: short
    mode: consistentHash
    riff: short@riff://localhost:8630
  - name: portal
    mode: consistentHash
    riff: portal@riff://localhost:8630
  - name: riff
    mode: hash
    server:
      - http://localhost:8610

server:
  - listen: "[::]:80"
    domain:
      - name: www.teatak.com
        location:
          - path: /
            return: "redirect 301 https://teatak.com$request_uri"
      - name: _
        location:
          # redirect
          - path: /
            return: "redirect 301 https://$host$request_uri"
  - listen: "[::]:443"
    ssl: true
    domain:
      - name: dev.x-t.top
        certFile: "/Users/yanggang/Documents/cert/x-t.pem"
        keyFile: "/Users/yanggang/Documents/cert/x-t.key"
        location:
          - path: /
            return: "backend riff"
      - name: console.teatak.com
        certFile: "/Users/yanggang/Documents/cert/x-t.pem"
        keyFile: "/Users/yanggang/Documents/cert/x-t.key"
        location:
          - path: /
            return: "backend console"
      - name: www.teatak.com
        certFile: "/Users/yanggang/Documents/cert/x-t.pem"
        keyFile: "/Users/yanggang/Documents/cert/x-t.key"
        location:
          - path: /
            return: "redirect 301 https://teatak.com$request_uri"
      - name: teatak.com
        certFile: "/Users/yanggang/Documents/cert/x-t.pem"
        keyFile: "/Users/yanggang/Documents/cert/x-t.key"
        location:
          - path: /
            return: "backend portal"
      - name: api.teatak.com
        certFile: "/Users/yanggang/Documents/cert/x-t.pem"
        keyFile: "/Users/yanggang/Documents/cert/x-t.key"
        location:
          - path: /
            return: "backend api"
      - name: _
        certFile: "/Users/yanggang/Documents/cert/x-t.pem"
        keyFile: "/Users/yanggang/Documents/cert/x-t.key"
        location:
          - path: /string,/text;/good
            return: "string 200 *.teatak.com"
